{% extends "includes/layout_principal_operacional.html" %}
{% block tituloPagina %}<i class="fa fa-hand-o-right"></i> Checkin da marca {{marca|capfirst}} {% endblock %}

{% block Checkin %}active{% endblock %}

{% block conteudo %}

<form method="post">
<ul method="post">{% csrf_token %}
    <label class="h4" for="id_status_checkin">Status do checkin:</label>
    <select id="id_status_checkin" name="statuscheckin" {%ifequal checkin.status 'confirmado' %} disabled {%endifequal%}> >
        {% for key, value in checkin.STATUS%}
        <option value="{{key}}" {%ifequal key checkin.status %} selected {%endifequal%}>{{value}}</option>
        {% endfor %}
    </select>

    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <hr>
    <div class="agendamento">
        <label class="h4" for="id_dia_agendamento"><i class="glyphicon glyphicon-calendar"></i> Dia agendamento: </label><input class="hora-checkin"  id="id_dia_agendamento" type="text" name="dia_agendamento" value="{% if checkin %}{{checkin.dia_agendamento|date:'d/m/Y'}}{% endif %}" disabled>
        <label class="h4" for="id_hora_agendamento"><i class="glyphicon glyphicon-time"></i> Hora agendamento: </label><input id="id_hora_agendamento" type="text" name="hora_agendamento" value="{% if checkin %}{{checkin.hora_agendamento|time:'H:i'}}{% endif %}" disabled>
    </div>
    <hr>
    <li>
        <label class="h4">Canais no checkin:</label>
        {% if checkin.canal != None%}
           <ul>
                {% for canal in checkin.canal.all %}
                    <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> {{canal.nome}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning">
                <strong>Não existem canais adicionados a este checkin</strong>
            </div>
        {% endif %}

    </li>
    <hr>

    <label class="h4">Espacos Alocados:</label>

    <ul>
    {% for espaco in espaco_list%}
         <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> {{ espaco.identificador }}</li>

    {% endfor %}
    </ul>
    <hr>
    <div class="lista-produtos">
        <label class="h4"><i class="fa fa-dropbox"></i> Produtos pertencentes ao ckeckin</label><hr>
            {% if expedicao_list %}
                {% for expedicao in expedicao_list %}
                    <ul>
                        <li><label class="h4">Produto: <strong>{{expedicao.produto.nome}}</strong></label></li>
                        <li><label><i class="fa fa-list-ol"></i> Quantidade: {{expedicao.quantidade}}</label></li>
                        <li><label><i class="glyphicon glyphicon-usd"></i> Preço de venda: {{expedicao.produto.preco_venda}}</label></li>
                        <li><label><i class="glyphicon glyphicon-usd"></i> Preços nos canais:</label></li>
                        <ul>
                            {% for canal in canal_list %}
                                <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> {{canal.nome}}</li>
                            {%endfor%}
                        </ul>
                        <li>
                            <label for="id_status_produto"><span class="glyphicon glyphicon-check"></span> Status do Produto:</label>
                            <select id="id_status_produto" name="status_produto_{{expedicao.produto.id}}" {%ifequal checkin.status 'confirmado' %} disabled {%endifequal%}>>
                                {% for key, value in expedicao.STATUS%}
                                    <option value="{{key}}" {%ifequal key expedicao.status %} selected {%endifequal%}>{{value}}</option>
                                {% endfor %}
                            </select>
                        </li>
                    </ul> <hr>
                {% endfor %}
        {% else %}
            <div class="alert alert-warning">
                <strong>Não existem produtos adicionados a este checkin</strong>
            </div>
            <hr>
        {% endif %}
    </div>
    <div>
        {%ifnotequal checkin.status 'confirmado' %}
            <button type="submit" name="atualizar" value="Atualizar" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Atualizar</button>
        {%endifnotequal%}
    </div>
</form>
<hr>
<a href="javascript:history.back();"><span class="seta-voltar" aria-hidden="true">&larr;</span> Voltar</a>
{% endblock %}