{% load preco_tag %}
<h1>{{marca|capfirst}}</h1>
    <p>Status: {{checkin.status}}</p>
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

<form id="form_checkin" method="post">{% csrf_token %}

    <label for="id_lojas">Lojas</label>
        <select id="id_lojas" name="loja" onchange="seleciona()">
            <option value="">Selecione uma loja</option>
            {% for loja in loja_list %}
            {% if loja_retorno != None and loja_retorno.id == loja.id  %}
                <option value="{{loja.id}}" selected>{{loja.nome}}</option>
            {% else %}
                <option value="{{loja.id}}">{{loja.nome}}</option>
            {% endif %}
            {% endfor %}
        </select>

    <p>Espacos Alocados:</p>
    <ul>
    {% for espaco in espaco_list%}
         <li>{{ espaco.identificador }}</li>

    {% endfor %}
        <p> Total de Espaço Alocado para a Loja: {{ cubagem_contratada }} cc</p>
        <p> Total de Espaço Utilizado na Loja: {{ saldo_cubagem_estoque }} cc</p>
        <p> Saldo para esta Loja == {{ saldo_cubagem }} cc</p>

    </ul>

     {% if checkin.status == checkin.status_emprocessamento %}

        <label for="id_dia_agendamento">Dia agendamento</label><input id="id_dia_agendamento" type="text" name="dia_agendamento" value="{% if checkin %}{{checkin.dia_agendamento|date:'d/m/Y'}}{% endif %}" >
            <hr>
            <hr>
            <div>
            <label for="id_canal">Canais</label>
            <select id="id_canal" name="canais">
                {% for canal in canal_list %}
                <option value="{{canal.id}}">{{canal.nome}}</option>
                {% endfor %}
            </select>
        <input type="submit" value="Adicionar" name="adicionar_canal">
        <input type="submit" value="Remover" name="remover_canal">
        </div>
     {% else %}
        <label for="id_dia_agendamento">Dia agendamento </label><input id="id_dia_agendamento" type="text" name="dia_agendamento" value="{% if checkin %}{{checkin.dia_agendamento|date:'d/m/Y'}}{% endif %}" disabled>
    {% endif %}
<hr>
<div>
    <p>Canais no checkin:</p>
    {% if checkin.canal != None%}
        {% for canal in checkin.canal.all %}
            <div>{{canal.nome}}</div>
        {% endfor %}
    {% else %}
        <div><span>Não existem canais adicionados a este checkin</span></div>
    {% endif %}

</div>

<hr>
<hr>
{% if checkin.status == checkin.status_emprocessamento %}

    <div>
        <label for="id_produtos">Produtos</label>
        <select id="id_produtos" name="produtos">
            {% for produto in produto_list %}
            <option value="{{produto.id}}">{{produto.nome}}</option>
            {% endfor %}
        </select>
        <label for="id_qtde_produto">Quantidade</label><input id="id_qtde_produto" type="text" name="qtde_produto" >
        <input type="submit" value="Adicionar" name="adicionar_produto">
        <input type="submit" value="Remover" name="remover_produto">
    </div>
<hr>

{%endif%}
<div>
    <p>Produtos no checkin:</p>
    {% if expedicao_list %}
        {% for expedicao in expedicao_list %}
            <div>{{expedicao.produto.nome}}</div>
            <div>Quantidade: {{expedicao.quantidade}}</div>
            <div>Preço de venda: {{expedicao.produto.preco_venda}}</div>
            <div>Preços nos canais:</div>
            <ul>
                {% if loja_retorno %}

                        {% for canal in canal_list%}
                        <li>{% getpreco expedicao.produto.preco_venda canal.percentual_deflacao canal.absoluto_deflacao canal.acumulativo loja_retorno.percentual_deflacao loja_retorno.absoluto_deflacao %}{{canal.nome}} -  Retorno R${{precocalculado}}</li>
                        {%endfor%}

                {% endif %}
            </ul>
            <hr>
        {% endfor %}
    {% else %}
        <div><span>Não existem produtos adicionados a este checkin</span></div>
    {% endif %}


</div>
<hr><hr>
    <div>
        <input type="submit" name="finalizar" value="Finalizar Checkin">
    </div>
</form>

<script>
function seleciona() {
    document.getElementById("form_checkin").submit();
}
</script>
