{% extends "includes/layout_principal_operacional.html" %}
{% block tituloPagina %}<i class="fa fa-hand-o-right"></i> Checkin da marca {{marca|capfirst}} {% endblock %}

{% block Checkin %}active{% endblock %}

{% block conteudo %}


<form method="post">
<ul method="post">{% csrf_token %}
{% load custom_tags %}
    <label class="h4" for="id_status_checkin">Status do checkin:</label>
    <!--<select id="id_status_checkin" name="statuscheckin" {%ifequal checkin.status 'confirmado' %} disabled {%endifequal%}> >-->
    <select id="id_status_checkin" name="statuscheckin" onchange="form.submit()">
        {% for key, value in checkin.STATUS%}
        <option value="{{key}}" {%ifequal key checkin.status %} selected {%endifequal%}>{{value}}</option>
        {% endfor %}
    </select>

    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <hr>
    <div class="agendamento">
        <label class="h4" for="id_dia_agendamento"><i class="glyphicon glyphicon-calendar"></i> Dia agendamento: </label><input class="hora-checkin"  id="id_dia_agendamento" type="text" name="dia_agendamento" value="{% if checkin %}{{checkin.dia_agendamento|date:'d/m/Y'}}{% endif %}" disabled>
        <!--<label class="h4" for="id_hora_agendamento"><i class="glyphicon glyphicon-time"></i> Hora agendamento: </label><input id="id_hora_agendamento" type="text" name="hora_agendamento" value="{% if checkin %}{{checkin.hora_agendamento|time:'H:i'}}{% endif %}" disabled>-->
    </div>
    <hr>
    <li>
        <label class="h4">Canais no checkin:</label>
        {% if checkin.canal != None%}
           <ul>
                {% for canal in checkin.canal.all %}
                    <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> {{canal.nome}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning">
                <strong>Não existem canais adicionados a este checkin</strong>
            </div>
        {% endif %}

    </li>
    <hr>

    <label class="h4">Minilojas Alocadas:</label>

    <ul>
    {% for miniloja in miniloja_list%}
         <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> {{ miniloja.identificador }}</li>

    {% endfor %}
    </ul>
    <hr>
    <div class="lista-produtos">
        {% if expedicao_list %}
            <div class="panel panel-default">
              <div class="panel-heading"><label><i class="glyphicon glyphicon-plus"></i> Produtos inclu&iacute;dos neste ckeckin</label></div>
              <table class="table ultimo-padding">
                  <thead>
                    <tr>
                        <th>Nome do Produto</th>
                        <th>Quantidade</th>
                        <th>Preço de venda</th>
                        <th>Preços nos canais</th>
                        <th>Status do Produto</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for expedicao in expedicao_list %}
                        <tr>
                            <th>{{expedicao.produto.nome}}</th>
                            <td>{{expedicao.quantidade}}</td>
                            <td>{{expedicao.produto.preco_venda|floatformat:2}}</td>
                            <td>
                                <!--<ul>-->
                                {% for canal in canal_list%}
                                    {% if contrato %}
                                        <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> {% getPrecoEstimado expedicao.produto canal contrato %}{{canal.nome}} - Retorno <strong>R$ {{precoestimado|floatformat:2}}</strong></li>
                                    {% endif %}
                                {%endfor%}
                                <!--</ul>-->
                            </td>
                             <td>
                                <ul>
                                    {% for canal in canal_list%}

                                            <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> {% getPrecoEstimado expedicao.produto canal contrato %}{{canal.nome}} - Retorno <strong>R$ {{precoestimado|floatformat:2}}</strong></li>

                                    {%endfor%}
                                </ul>
                            </td>
                            <td>
                                <!--<select id="id_status_produto" name="status_produto_{{expedicao.produto.id}}" {%ifequal checkin.status 'confirmado' %} disabled {%endifequal%}>>-->
                                <select id="id_status_produto" name="status_produto_{{expedicao.produto.id}}" onchange="form.submit()">
                                        <option> Status...</option>
                                    {% for key, value in expedicao.STATUS%}
                                        <option value="{{key}}" {%ifequal key expedicao.status %} selected {%endifequal%}>{{value}}</option>
                                    {% endfor %}
                                </select>

                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
            {% else %}
                <div class="alert alert-warning">
                    <strong>Não existem produtos adicionados a este checkin</strong>
                </div>
                <hr>
        {% endif %}
    </div>
    <div>
        <!--{%ifnotequal checkin.status 'confirmado' %}-->
            <button type="submit" name="atualizar" value="Atualizar" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Atualizar</button>
        <!--{%endifnotequal%}-->
    </div>
</form>
<hr>
<a href="javascript:history.back();"><span class="seta-voltar" aria-hidden="true">&larr;</span> Voltar</a>
{% endblock %}