<h1>{{marca|capfirst}}</h1>
<form method="post">
    <label>Dia agendamento</label><input type="text" name="dia_agendamento" value="" required>
    <label>Hora agendamento</label><input type="text" name="hora_agendamento" value="" required>
    <div>
        <label>Produtos</label>
        <select name="produtos">
            {% for produto in produto_list %}
            <option value="{{produto.id}}">{{produto.nome}}</option>
            {% endfor %}
        </select>
        <label>Quantidade</label><input type="text" name="qtde_produto" required><input type="submit" value="Adicionar">
    </div>
    {% csrf_token %}
</form>
<div>
    <p>Produtos no ckeckin:</p>
    <div><span>Produto&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><span>Quantidade</span></div>
    {% if expedicao_list %}
        {% for expedicao in expedicao_list %}
            <div><span>{{expedicao.produto.nome}}</span></div>
        {% endfor %}
    {% else %}
        <div><span>Não existem produtos adicionados a este checkin</span></div>
    {% endif %}


</div>
