{% extends "includes/layout_principal_marca.html" %}
{% block tituloPagina %} <i class="glyphicon glyphicon-calendar"></i> Checkin {{marca|capfirst}} {% endblock %}

{% block Checkin %}active{% endblock %}

{% block conteudo %}
<div>
    {% load custom_tags %}
    <p><label>Status deste checkin:</label> {{checkin.status}}</p>
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
<hr>
<form id="form_checkin" method="post">{% csrf_token %}
    <div class="box-info-checkin">
        <center><label class="h3"><i class="fa fa-pie-chart"></i> Minilojas Alocadas</label></center>
        <ul>
        {% for miniloja in miniloja_list%}
             <li class="unidade-lista"><label><i class="glyphicon glyphicon-map-marker"></i> {{ miniloja.identificador }}</label></li>

        {% endfor %}
            <li><label> Total de Volume Alocado para a Unidade:</label> {{ cubagem_contratada }} cm<sup>3</sup></li>
            <li><label> Total de Volume Utilizado na Unidade:</label> {{ saldo_cubagem_estoque }} cm<sup>3</sup></li>
            <li><label> Saldo para esta Unidade: </label> {{ saldo_cubagem }} cm<sup>3</sup></li>

        </ul>
    </div>
    <label for="id_unidades"><i class="glyphicon glyphicon-map-marker"></i></label>
    {% if checkin.status == checkin.status_enviado %}
        <select id="id_unidades" name="unidade" onchange="seleciona()" disabled>
    {% else %}
        <select id="id_unidades" name="unidade" onchange="seleciona()">
    {% endif %}
        <option value="">Selecione uma unidade</option>
        {% for unidade in unidade_list %}
            {% if unidade_retorno != None and unidade_retorno.id == unidade.id  %}
                <option value="{{unidade.id}}" selected >{{unidade.nome}}</option>
            {% else %}
                <option value="{{unidade.id}}">{{unidade.nome}}</option>
            {% endif %}
        {% endfor %}
    </select><br><br>
     {% if checkin.status == checkin.status_emprocessamento %}
        <label for="id_dia_agendamento"><i class="glyphicon glyphicon-calendar"></i></label>
        <input class="data" placeholder="Dia agendamento..." id="id_dia_agendamento" type="text" name="dia_agendamento" value="{% if checkin %}{{checkin.dia_agendamento|date:'d/m/Y'}}{% endif %}" >
         <br><br>
        <label for="id_canal"><i class="glyphicon glyphicon-ok-sign"></i></label>
        <select id="id_canal" name="canais">
            <option>Canais...</option>
            {% for canal in canal_list %}
            <option value="{{canal.id}}">{{canal.nome}}</option>
            {% endfor %}
        </select>
        <button type="submit" value="Adicionar" name="adicionar_canal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <button type="submit" value="Remover" name="remover_canal" class="btn btn-danger">
            <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
     {% else %}
        <label for="id_dia_agendamento"><i class="fa fa-calendar-check-o></i></label>
        <input class="data" placeholder="Dia agendamento..." id="id_dia_agendamento" type="text" name="dia_agendamento" value="{% if checkin %}{{checkin.dia_agendamento|date:'d/m/Y'}}{% endif %}" disabled>
     {% endif %}
    <br><br>
<hr>
    <label><i class="glyphicon glyphicon-ok-sign"></i> Canais no checkin:</label>
    {% if checkin.canal != None%}
        <ul class="lista-canais">
            {% for canal in checkin.canal.all %}
                <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> {{canal.nome}}</li>
            {% endfor %}
        </ul><hr>
    {% else %}
       <div class="alert alert-warning">
            <strong>Não existem canais adicionados a este checkin</strong>
        </div><hr>
    {% endif %}

{% if checkin.status == checkin.status_emprocessamento %}

    <div class="checkin-produtos">
        <label for="id_produtos"></label>
        <select id="id_produtos" name="produtos">
            <option>Produtos...</option>
            {% for produto in produto_list %}
            <option value="{{produto.id}}">{{produto.nome}}</option>
            {% endfor %}
        </select>
        <label for="id_qtde_produto"></label>
        <input placeholder="Quantidade..." id="id_qtde_produto" type="text" name="qtde_produto" >
        <button type="submit" value="Adicionar" name="adicionar_produto" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <button type="submit" value="Remover" name="remover_produto" class="btn btn-danger">
            <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
    </div><br><br>
{%endif%}
         {% if expedicao_list %}
            <div class="panel panel-default">
              <div class="panel-heading"><label><i class="glyphicon glyphicon-plus"></i> Produtos no checkin</label></div>
              <table class="table ultimo-padding">
                  <thead>
                    <tr>
                        <th>Nome do Produto Inserido</th>
                        <th>Quantidade</th>
                        <th>Preço de venda</th>
                        <th>Preços nos canais</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for expedicao in expedicao_list %}
                        <tr>
                            <th>{{expedicao.produto.nome}}</th>
                                <td>{{expedicao.quantidade}}</td>
                                <td>{{expedicao.produto.preco_venda|floatformat:2}}</td>
                                <td>
                                    <ul>
                                    {% if unidade_retorno %}
                                        {% for canal in canal_list%}
                                            {% if contrato %}
                                                <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> {% getPrecoEstimado expedicao.produto canal contrato %}{{canal.nome}} - Retorno <strong>R$ {{precoestimado|floatformat:2}}</strong></li>
                                            {% endif %}
                                        {%endfor%}
                                    {% endif %}
                                    </ul>
                                </td>
                        </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
            <hr>
            <button type="submit" name="finalizar" value="Finalizar Checkin" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> Finalizar checkin
            </button>
            {% else %}
                <div class="alert alert-warning">
                    <strong>Não existem produtos adicionados a este checkin</strong>
                </div><hr>
         {% endif %}
        </form>
        <a href="/marca/lista-checkin/"><span class="seta-voltar" aria-hidden="true">&larr;</span> Voltar para lista de Ckeckins</a>
<br><br><br>
    </div>

<script>
function seleciona() {
    document.getElementById("form_checkin").submit();
}
</script>
{% endblock %}