{% extends "includes/layout_principal_marca.html" %}
{% block tituloPagina %} <i class="fa fa-dashboard"></i> Dashboard {% endblock %}

{% block Dashboard %}active{% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-lg-2 col-md-6">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ total_venda }}</div>
                    </div>
                    <div class="title-box-dashboard">Produtos Vendidos</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ total_venda_periodo }}</div>
                    </div>
                    <div class="title-box-dashboard">Vendas período atual</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-list fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ produtos_em_estoque }}</div>
                    </div>
                    <div class="title-box-dashboard">Produtos em estoque</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-credit-card fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">R$ {{ total_a_receber_periodo|floatformat:2 }}</div>
                    </div>
                    <div class="title-box-dashboard">Receita Per&iacute;odo Atual</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
 <div class="row">
    <div class="col-md-6">
        <h1 class="page-header">
            <small><i class="fa fa-fw fa-bar-chart-o"></i> Suas vendas nos &uacute;ltimos 6 períodos</small>
        </h1>
        <div class="box">
            <div class="box-chart">
                <canvas id="GraficoLine" style="width:100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
       <h1 class="page-header">
           <small><i class="fa fa-pie-chart"></i> Cubagem dispon&iacute;vel</small>
       </h1>
        <div class="box">
            <div class="box-chart">
                <canvas id="cubagem" width="500px"></canvas>
            </div>
            <br><br><br>
            <div class="col-md-12">
                <div class="col-md-6">
                    <p><span class="cubo-pie">miniloja alocada</span> Miniloja Ocupada (cm<sup>3</sup>)</p>
                </div>
                <div class="col-md-6">
                    <p><span class="cubo-pie disponivel">miniloja dispon&iacute;vel</span> Miniloja Dispon&iacute;vel (cm<sup>3</sup>)</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Últimas vendas realizadas</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Nome do Produto</th>
                                <th>Data da venda</th>
                                <th>Valor unidade</th>
                                <th>Quantidade</th>
                                <th>Descontos</th>
                                <th>Valor total liqu&iacute;do</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {% for v in venda%}
                                <td>{{v.0}}</td>
                            {% endfor %}
                            </tr>
                            <tr>
                            {% for v in venda%}
                                <td>{{v.1}}</td>
                            {% endfor %}
                            </tr>
                            <tr>
                            {% for v in venda%}
                                <td>{{v.2}}</td>
                            {% endfor %}
                            </tr>
                            <tr>
                            {% for v in venda%}
                                <td>{{v.3}}</td>
                            {% endfor %}
                            </tr>
                            <tr>
                            {% for v in venda%}
                                <td>{{v.4}}</td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a href="/marca/acompanhar-venda/">Acompanhar todas as vendas <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-dropbox fa-fw"></i> Produtos</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">{{quantidade_produtos_checkin }} produto(s)</span>
                        <i class="fa fa-fw fa-calendar"></i> Checkin enviados
                    </a>
                    <!--<a href="#" class="list-group-item">-->
                        <!--<span class="badge">0 produtos</span>-->
                        <!--<i class="fa fa-fw fa-calendar"></i> Checkout agendado-->
                    <!--</a>-->
                    <a href="#" class="list-group-item">
                        <span class="badge">{{quantidade_produtos_devolvidos}} produto(s)</span>
                        <i class="fa fa-fw fa-truck"></i> Produtos devolvidos
                    </a>
                    <!--<a href="#" class="list-group-item">-->
                        <!--<span class="badge">23 minutos atrás</span>-->
                        <!--<i class="fa fa-fw fa-check"></i> último produto vendido-->
                    <!--</a>-->
                    <!--<a href="#" class="list-group-item">-->
                        <!--<span class="badge">2 produtos</span>-->
                        <!--<i class="fa fa-fw fa-list"></i> Produtos há mais de 6 meses no estoque-->
                    <!--</a>-->
                </div>
                <div class="text-right">
                    <!--<a href="#">Ver Mais <i class="fa fa-arrow-circle-right"></i></a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
</div>

<script type="text/javascript">
   var options = {
        responsive:true,

    };

    var data = {
        labels: [{% for v in venda_valor_grafico %}
            {% if v.0 == 0 %}
                "Sem contrato no período",
            {% else %}
                "{{v.0}}",
            {% endif %}
        {% endfor %}],
        datasets: [
            {
                label: "Dados primários",
                fillColor: "rgba(222, 226, 94, .2)",
                strokeColor: "rgba(92, 184, 92, 1)",
                pointColor: "rgba(92, 184, 92, 1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(92, 184, 92, 1)",
                data: [{% for v in venda_valor_grafico %}"{{v.1|floatformat:0}}",{% endfor %}]
            }
        ]
    };

    var pieData = [
            {
                value: {{ saldo_cubagem_estoque }},
                color:"#F0AD4E"
            },
            {
                value : {{ saldo_cubagem_contratada_periodo }},
                color : "#337AB7"
            }
        ];

    window.onload = function(){

        //vendas init
        var ctx = document.getElementById("GraficoLine").getContext("2d");
        ctx.canvas.height = 200;
        var LineChart = new Chart(ctx).Line(data, options);

        //Cubagem init
        var cubagem = document.getElementById("cubagem").getContext("2d");
        new Chart(cubagem).Pie(pieData, pieOptions);
        var pieOptions = {
            segmentShowStroke : false,
            animateScale : true
        }

    }
</script>
{% endblock %}