{% extends "includes/layout_principal_operacional.html" %}
{% block tituloPagina %} <i class="fa fa-fw fa-list"></i> Estoque {% endblock %}

{% block Estoque %}active{% endblock %}

{% block conteudo %}
    <br><br>
    <form method="GET" class="formulario-padrao">
        <select id="id_unidades" name="unidade" onchange="form.submit()">
            <option value="">Selecione uma unidade</option>
            {% for unidade in unidade_list %}
            {% if unidade_retorno != None and unidade_retorno.id == unidade.id  %}
                <option value="{{unidade.id}}" selected>{{unidade.nome}}</option>
            {% else %}
                <option value="{{unidade.id}}">{{unidade.nome}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </form><br><br>
    {% if estoque_list != None %}
        <div class="panel panel-default">
            <table class="table">
              <thead>
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Pre&ccedil;o venda</th>
                </tr>
              </thead>
              <tbody>

                    {% for estoque in estoque_list %}
                        <tr>
                            <th>{{ estoque.produto.nome}}</th>
                            <td>{{ estoque.em_estoque }}</td>
                            <td>{{ estoque.produto.preco_venda|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}

              </tbody>
          </table>
        </div>
    {% endif %}
{% endblock %}
