{% extends "includes/layout_principal_marca.html" %}
{% block tituloPagina %} <i class="fa fa-fw fa-list"></i> Estoque da marca {{marca.nome}}{% endblock %}

{% block conteudo %}
   <div class="panel panel-default">
        <table class="table">
          <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preco base</th>
                <th>Preco venda</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
             {% for produto in produto_list %}
                <tr>
                    <th>{{ produto.nome}}</th>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.preco_base }}</td>
                    <td>{{ produto.preco_venda }}</td>
                    <td><a href="/marca/cadastra-produto/{{produto.id}}"><i class="glyphicon glyphicon-pencil"></i> Editar</a></td>
                </tr>
             {% endfor %}
          </tbody>
      </table>
    </div>
{% endblock %}
