    <h1>Produtos da {{marca.nome}}</h1>
    <div class="container-fluid">
      <div>

          {% for produto in produto_list %}
          <div class="row">
              <div class="col-sm-3">Nome: <a href="/marca/cadastra-produto/{{produto.id}}">{{ produto.nome }}</a></div>
              <div class="col-sm-3">Largura: {{ produto.largura }}</div>
              <div class="col-sm-3">Altura: {{ produto.altura }}</div>
              <div class="col-sm-3">Profundidade: {{ produto.profundidade }}</div>
              <div class="col-sm-3">Quantidade: {{ produto.quantidade }}</div>
              <div class="col-sm-3">Preco base: {{ produto.preco_base }}</div>
              <div class="col-sm-3">Preco venda: {{ produto.preco_venda }}</div>
          </div>
          <hr>

          {% endfor %}

      </div>
    </div> <!-- /container -->
