{% extends "includes/layout_principal_marca.html" %}
{% block tituloPagina %} <i class="fa fa-fw fa-list"></i> Estoque da marca {{marca.nome}}{% endblock %}

{% block Estoque %}active{% endblock %}

{% block conteudo %}
    <br><br>
    <form method="GET" class="formulario-padrao">
        <select id="id_unidades" name="unidade" onchange="form.submit()">
            <option value="">Selecione uma unidade</option>
            {% for unidade in unidade_list %}
            {% if unidade_retorno != None and unidade_retorno.id == unidade.id  %}
                <option value="{{unidade.id}}" selected>{{unidade.nome}}</option>
            {% else %}
                <option value="{{unidade.id}}">{{unidade.nome}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <div class="box-info-checkin">
            <center><label class="h3"><i class="fa fa-pie-chart"></i> Espa&ccedil;o Alocado</label></center>
            <ul>
                <li><label> Total de Volume Alocado para a Unidade:</label> {{ cubagem_contratada }} cm<sup>3</sup></li>
                <li><label> Total de Volume Utilizado na Unidade:</label> {{ saldo_cubagem_estoque }} cm<sup>3</sup></li>
                <li><label> Saldo para esta Unidade: </label> {{ saldo_cubagem }} cm<sup>3</sup></li>
            </ul>
        </div>
    </form><br><br><br>
    {% if estoque_list != None %}
        <div class="panel panel-default">
            <table class="table">
              <thead>
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Pre&ccedil;o venda</th>
                </tr>
              </thead>
              <tbody>

                    {% for estoque in estoque_list %}
                        <tr>
                            <th>{{ estoque.produto.nome}}</th>
                            <td>{{ estoque.quantidade }}</td>
                            <td>{{ estoque.produto.preco_venda|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}

              </tbody>
          </table>
        </div>
    {% endif %}
{% endblock %}
