{% extends "includes/layout_principal_operacional.html" %}
{% block tituloPagina %} <i class="fa fa-dropbox"></i> Produtos {% endblock %}

{% block Produtos %}active{% endblock %}

{% block conteudo %}
<form id="form_lista_produtos_operacional" method="post">{% csrf_token %}

<label for="id_marca"><i class="glyphicon glyphicon-ok-sign"></i></label>
<select id="id_marca" name="marca" onchange="form.submit()">
    <option>Selecione uma marca...</option>
    {% for marca in marca_list %}
        {% if marca_retorno != None and marca_retorno.id == marca.id %}
            <option value="{{marca.id}}" selected>{{marca.nome}}</option>
        {% else %}
            <option value="{{marca.id}}">{{marca.nome}}</option>
        {% endif %}
    {% endfor %}
</select>

<br><br>
    <div class="panel panel-default">
      <table class="table">
          <thead>
            <tr>
                <th>Nome</th>
                <th>Codigo</th>
                <th>Marca</th>
                <th>Pre&ccedil;o</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
             {% for produto in produto_list %}
                <tr>
                    <th><strong>{{ produto.nome }}</strong></th>
                    <td>{{produto.codigo}}</td>
                    <td>{{produto.marca.nome}}</td>
                    <td>R$ {{ produto.preco_venda|floatformat:2 }}</td>
                </tr>
             {% endfor %}
          </tbody>
      </table>
    </div>
 </form>

<script>
function seleciona() {
    document.getElementById("form_lista_produtos_operacional").submit();
}
</script>

{% endblock %}