{% extends "includes/layout_principal_operacional.html" %}
{% block tituloPagina %} <i class="glyphicon glyphicon-calendar"></i> Checkins {% endblock %}

{% block conteudo %}
    <div class="panel panel-default">
      <table class="table">
          <thead>
            <tr>
                <th>Marca</th>
                <th>Dia Agendamento</th>
                <th>Hora Agendamento</th>
                <th>Status</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
             {% for checkin in checkin_list %}
                <tr>
                    <th>Marca tal (importante colocar o nome da marca)</th>
                    <td>{{ checkin.dia_agendamento }}</td>
                    <td>{{ checkin.hora_agendamento }}</td>
                    <td>{{ checkin.status}}</td>
                    <td><a href="/operacional/checkin/{{checkin.id}}"><i class="glyphicon glyphicon-pencil"></i> Editar</a></td>
                </tr>
             {% endfor %}
          </tbody>
      </table>
    </div>
{% endblock %}