{% extends "includes/layout_principal_operacional.html" %}
{% block tituloPagina %} <i class="glyphicon glyphicon-calendar"></i> Lista Checkouts {% endblock %}

{% block conteudo %}
   <div class="panel panel-default">
        <table class="table">
          <thead>
            <tr>
                <th>Marca</th>
                <th>Dia</th>
                <th>Hora</th>
                <th>Motivo</th>
            </tr>
          </thead>
          <tbody>
             {% for checkout in checkout_list %}
                <tr>
                    <th>{{ checkout.marca.nome}}</th>
                    <td>{{ checkout.dia }}</td>
                    <td>{{ checkout.hora }}</td>
                    <td>{{ checkout.motivo}}</td>
                </tr>
             {% endfor %}
          </tbody>
      </table>
    </div>
{% endblock %}