{% extends "includes/layout_principal_marca.html" %}
{% block tituloPagina %} <i class="glyphicon glyphicon-calendar"></i> Checkins da {{marca.nome}} {% endblock %}

{% block conteudo %}
    <div class="panel panel-default">
      <div class="panel-heading"><a href="/marca/checkin"><i class="glyphicon glyphicon-plus"></i> Realizar Novo Checkin</a></div>
      <table class="table">
          <thead>
            <tr>
                <th>Dia Agendamento</th>
                <th>Hora Agendamento</th>
                <th>Status</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
             {% for checkin in checkin_list %}
                <tr>
                    <th>{{ checkin.dia_agendamento }}</th>
                    <td>{{ checkin.hora_agendamento }}</td>
                    <td>{{ checkin.status}}</td>
                    <td><a href="/marca/checkin/{{checkin.id}}"><i class="glyphicon glyphicon-pencil"></i> Editar</a></td>
                </tr>
             {% endfor %}
          </tbody>
      </table>
    </div>
{% endblock %}