    <h1>Produtos da {{marca.nome}}</h1>
    <a href="/marca/cadastra-produto">cadastrar novo produto</a>
    <div class="container-fluid">
      <div>

          {% for produto in produto_list %}
          <div class="row">
              <div class="col-sm-3">Nome: {{ produto.nome }}</div>
              <div class="col-sm-3">Largura: {{ produto.largura }}</div>
              <div class="col-sm-3">Altura: {{ produto.altura }}</div>
              <div class="col-sm-3">Profundidade: {{ produto.profundidade }}</div>
          </div>
          <hr>

          {% endfor %}

      </div>
    </div> <!-- /container -->
