{% load staticfiles %}

{% include "includes/header.html" %}

    <div class="container box-login">
      <form class="form-signin" action="" method="post">
        {% if error %}
            <div class="alert alert-danger" role="alert">usu&aacute;rio ou senha incorretos</div>
        {% endif %}
        <label for="id_username" class="sr-only">Usuario</label>
        <input type="text" id="id_username" class="form-control" name="username" placeholder="Usuario" required autofocus>
        <br>
        <label for="id_senha" class="sr-only">Password</label>
        <input type="password" id="id_senha" name="senha" class="form-control" placeholder="Senha" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">Lembrar
          </label>
        </div>
        {% csrf_token %}<br>
        <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Entrar</button>
      </form>

    </div> <!-- /container -->

{% include "includes/footer.html" %}
