{% extends "includes/layout_principal_marca.html" %}
{% block tituloPagina %}<i class="fa fa-fw fa-bar-chart-o"></i> Acompanhar Vendas {% endblock %}

{% block Vendas %}active{% endblock %}

{% block conteudo %}
    <p><i class="glyphicon glyphicon-info-sign"></i> Selecione unidade e per&iacute;odo para visualizar o resumo das vendas</p>
    <br>
    <form id="form_marca_acompanhar_venda" method="post">{% csrf_token %}
        <label for="id_unidades"><i class="glyphicon glyphicon-map-marker"></i></label>
        <select id="id_unidades" class="select-unidade" name="unidade" onchange="seleciona()">
            <option value="">Selecione uma unidade...</option>
            {% for unidade in unidade_list %}
                {% if unidade_retorno != None and unidade_retorno.id == unidade.id  %}
                    <option value="{{unidade.id}}" selected >{{unidade.nome}}</option>
                {% else %}
                    <option value="{{unidade.id}}">{{unidade.nome}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="id_periodos"><i class="glyphicon glyphicon-calendar"></i></label>
        <select id="id_periodos" class="input-grande" name="periodo" onchange="seleciona()">
            <option value="">Selecione o periodo...</option>
            {% for periodo in periodo_list %}
                {% if periodo_retorno != None and periodo_retorno.id == periodo.id  %}
                     <option value="{{periodo.id}}" selected >{{periodo.nome}} (de {{periodo.de}} até {{periodo.ate}})</option>
                {% else %}
                     <option value="{{periodo.id}}">{{periodo.nome}} (de {{periodo.de}} até {{periodo.ate}})</option>
                {% endif %}
            {% endfor %}
        </select><br><br><br>

        {% if venda_grafico|length > 1 %}
            <label>Resumo do contrato n&uacute;mero: {{contrato.no_contrato}}</label><br><br>
            <div class="resumo-vendas">
                <div class="col-lg-4 col-md-6">
                    <div class="panel  panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{total_pecas_vendidas}}</div>
                                </div>
                                <div class="title-box-dashboard">Total de peças vendidas</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-credit-card fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">R$ {{total_vendas|floatformat:2}}</div>
                                </div>
                                <div class="title-box-dashboard">Valor vendido para o período</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-credit-card fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">R$ {{total_a_receber|floatformat:2}}</div>
                                </div>
                                <div class="title-box-dashboard"> Total a receber para o período</div>
                            </div>
                        </div>
                    </div>
                </div>
            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        <small><i class="fa fa-fw fa-bar-chart-o"></i>Valor di&aacute;rio das vendas no per&iacute;odo selecionado (Valor em Reais x Data)</small>
                    </h1>
                    <div class="box">
                        <div class="box-chart">
                            <canvas id="GraficoLine" style="width:100%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Vendas realizadas por produto</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>C&oacute;digo</th>
                                    <th>Quantidade</th>
                                    <th>Pre&ccedil;o Venda</th>
                                    <th>Valor a receber</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vp in venda_produto %}
                                    <tr>
                                        <th>{{vp.1}}</th>
                                        <td>{{vp.0}}</td>
                                        <td>{{vp.4}}</td>
                                        <td>R$ {{vp.2|floatformat:2}}</td>
                                        <td>R$ {{vp.3|floatformat:2}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% else %}
            <div class="alert alert-warning">
                <strong><i class="glyphicon glyphicon-info-sign"></i> N&atilde;o h&aacute; nenhum per&iacute;odo selecionado.</strong>
            </div>
    {% endif %}
</form>

<script type="text/javascript">
    function seleciona() {
        document.getElementById("form_marca_acompanhar_venda").submit();
    }

    window.onload = function(){

       var options = {
            responsive:true,

        };

        var barData = {
        labels:[{% for v in venda_grafico %}"{{v.0}}",{% endfor %}],

         datasets: [
            {
                fillColor: '#5CB85C',
                data:[{% for v in venda_grafico %}{{v.1|stringformat:'d'}},{% endfor %}]
            }
        ]
        };
        var context = document.getElementById('GraficoLine').getContext('2d');
        context.canvas.height = 300;
        context.canvas.width = 1024;
        var clientsChart = new Chart(context).Bar(barData);

    }
</script>
{% endblock %}