{% extends "includes/layout_principal_marca.html" %}
{% block tituloPagina %}<i class="fa fa-fw fa-bar-chart-o"></i> Acompanhar Vendas {% endblock %}

{% block Vendas %}active{% endblock %}

{% block conteudo %}
<form id="form_marca_acompanhar_venda" method="post">{% csrf_token %}
    <label for="id_lojas"><i class="glyphicon glyphicon-map-marker"></i></label>
        <select id="id_lojas" name="loja" onchange="seleciona()">
        <option value="">Selecione uma loja</option>
        {% for loja in loja_list %}
            {% if loja_retorno != None and loja_retorno.id == loja.id  %}
                <option value="{{loja.id}}" selected >{{loja.nome}}</option>
            {% else %}
                <option value="{{loja.id}}">{{loja.nome}}</option>
            {% endif %}
        {% endfor %}
        </select><br><br>

    <label for="id_periodos"><i class="glyphicon glyphicon-map-marker"></i></label>
        <select id="id_periodos" name="periodo" onchange="seleciona()">
        <option value="">Selecione o periodo</option>
        {% for periodo in periodo_list %}
            {% if periodo_retorno != None and periodo_retorno.id == periodo.id  %}
                 <option value="{{periodo.id}}" selected >{{periodo.nome}} (de {{periodo.de}} até {{periodo.ate}})</option>
            {% else %}
                 <option value="{{periodo.id}}">{{periodo.nome}} (de {{periodo.de}} até {{periodo.ate}})</option>
            {% endif %}
        {% endfor %}
        </select><br><br>

    <label><i class="fa fa-dropbox"></i> Resumo:</label>
        <ul class="box-produtos-checkin">

            <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> Número do contrato: {{contrato.no_contrato}}</li>
            <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> Data da última venda: {{data_ultima_venda}}</li>
            <li class="text-verde"><i class="glyphicon glyphicon-ok"></i> Total de peças vendidas: {{total_pecas_vendidas}}</li>


</form>

<script>
function seleciona() {
    document.getElementById("form_marca_acompanhar_venda").submit();
}
</script>
{% endblock %}