{% extends "includes/layout_principal_operacional.html" %}
{% block tituloPagina %}<i class="fa fa-fw fa-bar-chart-o"></i> Efetuar Venda {% endblock %}

{% block Vendas %}active{% endblock %}

{% block conteudo %}
{% load custom_tags %}

<div class="box-formulario venda">
    <!--<p><i class="glyphicon glyphicon-info-sign"></i> Preencha os campos abaixo e clique em Efetuar Venda para concluir a venda.</p>-->
    <form class="formulario-padrao venda" id="form_realizar_venda" method="post" >{% csrf_token %}
            {% if error %}
                <br>
                <div class="alert alert-danger">
                    <strong><i class="glyphicon glyphicon-info-sign"></i> {{error}}</strong>
                </div>
            {% endif %}

        <div class="origem-produto"><br>
            <label><i class="glyphicon glyphicon-map-marker"></i> Informa&ccedil;&otilde;es local/data:</label><br><br>
            {% if checkout.unidade and itemvenda_list.count > 0 or checkout.status == 'confirmado' %}
                <select id="id_unidades" name="unidade" onchange="form.submit()" disabled>
                <!--<select id="id_unidades" name="unidade" onchange="form.submit()">-->
            {% else %}
                <select id="id_unidades" name="unidade" onchange="form.submit()">
            {% endif %}

            <option value="">Selecione a unidade...</option>
            {% for unidade in unidade_list %}
                {% if unidade_retorno != None and unidade_retorno.id == unidade.id  %}
                    <option value="{{unidade.id}}" selected>{{unidade.nome}}</option>
                {% else %}
                    <option value="{{unidade.id}}">{{unidade.nome}}</option>
                {% endif %}
            {% endfor %}
                </select>

            <select id="id_canais" name="canal">
            <!--<select id="id_canais" name="canal" onchange="form.submit()">-->
                <option value="">Selecione o canal...</option>
                {% for canal in canal_list %}
                {% if canal_retorno != None and canal_retorno.id == canal.id  %}
                <option value="{{canal.id}}" selected>{{canal.nome}}</option>
                {% else %}
                <option value="{{canal.id}}">{{canal.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <!--{% if error %}-->
                <!--<br><br>-->
                <!--<div class="alert alert-danger">-->
                    <!--<strong><i class="glyphicon glyphicon-info-sign"></i> Erro no canal</strong>-->
                <!--</div>-->
            <!--{% endif %}-->
            {% if checkout.status == 'confirmado' %}
               <input class="data" placeholder="Dia da venda..." id="id_dtrealizado" type="text" name="dtrealizado" value="{% if checkout %}{{checkout.dtrealizado|date:'d/m/Y'}}{% endif %}" disabled>
            {% else %}
               {% if dtrealizado_retorno != None %}
                   <input type="text" class="data" id="id_dtrealizado" placeholder="Dia da Venda..." name="dtrealizado" value="{{dtrealizado_retorno|date:'d/m/Y'}}">
               {% else %}
                   <input type="text" class="data" id="id_dtrealizado" placeholder="Dia da Venda..." name="dtrealizado" value="">
               {% endif %}
            {% endif %}<br><br><hr>
        </div><br>
        <label class="link-cliente"><i class="glyphicon glyphicon-user"></i> Adicionar / Editar Informa&ccedil;&otildees do Cliente</label>
        <div class="info-cliente" style="display: none;"><br>
            {% if cliente_retorno != None %}
                {% if cliente_retorno.nome != 'nome em processamento'%}
                    <input type="text" class="col-md-6" id="id_clientes_nome" placeholder="Nome..." name="clientenome" value="{{cliente_retorno.nome}}">
                {% else %}
                    <input type="text" class="col-md-6" id="id_clientes_nome" placeholder="Nome..." name="clientenome" value="">
                {% endif %}
            {% else %}
                <input type="text" class="col-md-6" id="id_clientes_nome" placeholder="Nome..." name="clientenome" value="">
            {% endif %}

            {% if cliente_retorno != None %}
                <input type="text" class="col-md-3" id="id_clientes_telefone" placeholder="Telefone..." name="telefone" value="{{cliente_retorno.telefone}}">
            {% else %}
                <input type="text" class="col-md-3" id="id_clientes_telefone" placeholder="Telefone..." name="telefone" value="">
            {% endif %}

            {% if cliente_retorno != None %}
                <input type="text" class="data col-md-2" id="id_clientes_aniversario" placeholder="Anivers&aacute;rio..." name="clienteaniversario" value="{{cliente_retorno.aniversario|date:'d/m/Y'}}">
            {% else %}
                <input type="text" class="data col-md-2" id="id_clientes_aniversario" placeholder="Anivers&aacute;rio..." name="clienteaniversario" value="">
            {% endif %}<br><br><br><hr>
        </div>
        <br>
        <div class="info-produto"><br>
            <label><i class="fa fa-dropbox"></i> Incluir / Excluir Produtos: </label><br><br>
            <select id="id_estoque" name="estoque">
                <option value="">Selecione um produto</option>
                {% for estoque in estoque_list %}
                {% if estoque_retorno != None and estoque_retorno.id == estoque.id  %}
                <option value="{{estoque.produto.id}}" selected>{{estoque.produto.nome}}</option>
                {% else %}
                <option value="{{estoque.produto.id}}">{{estoque.produto.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type="number" id="id_quantidade" required placeholder="Quantidade" name="quantidade" class="numero">
            <div class="buttons-produto">
                <button type="submit" value="Adicionar" name="adicionar_produto" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
                <button type="submit" value="Remover" name="remover_produto" class="btn btn-danger">
                    <span class="glyphicon glyphicon-minus-sign"></span>
                </button>
            </div>
            <br>
             {% if itemvenda_list %}
                <div class="panel panel-default">
                  <div class="panel-heading"><label><i class="glyphicon glyphicon-shopping-cart"></i> Itens adicionados à compra</label></div>
                  <table class="table ultimo-padding">
                      <thead>
                        <tr>
                            <th>Nome do Produto Inserido</th>
                            <th>Quantidade</th>
                            <th>Preço unitário</th>
                            <th>Preço venda</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for itemvenda in itemvenda_list %}
                            <tr>
                                <th>{{itemvenda.produto.nome}}</th>
                                    <td>{{itemvenda.quantidade}}</td>
                                    <td>{{itemvenda.produto.preco_venda|floatformat:2}}</td>
                                    <td>{% Multiplicacao  itemvenda.quantidade itemvenda.produto.preco_venda %}R$ {{calculado|floatformat:2}}</td>
                            </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                </div>
                {% if preco_calculado != None %}
                    <label class="text-verde">Total da venda: R$ {{preco_calculado|floatformat:2}}</label><br><br>
                {% endif %}
                <hr>
                {% else %}
                    <div class="alert alert-warning">
                        <strong>Não existem produtos adicionados a esta venda</strong>
                    </div><hr>
                {% endif %}


            <!--<li>-->
            <!--<label for="id_formapagamento">Forma de pagamento: </label>-->
            <!--<select id="id_formapagamento" name="formapagamento">-->
                <!--{% for key, value in checkout.FORMAPAGAMENTO %}-->
                    <!--&lt;!&ndash;{% if key != 'venda' %}&ndash;&gt;-->
                    <!--<option value="{{key}}" {%ifequal key checkout.motivo %} selected {%endifequal%}>{{value}}</option>-->
                    <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
                <!--{% endfor %}-->
            <!--</select>-->
            <!--</li>-->
        </div>
        <div class="Forma-pagamento"><br>
            <label><i class="fa fa-dollar"></i> Forma de Pagamento</label><br><br>
            {% if checkout.formapagamento == 'credito' %}
                <label>
                    <input type="radio" name="formapagamento" value="credito" checked> <i class="glyphicon glyphicon-credit-card"></i> Crédito
                </label>
            {% else %}
                <label>
                  <input type="radio" name="formapagamento" value="credito"> <i class="glyphicon glyphicon-credit-card"></i> Crédito
                </label>
            {% endif %}
            {% if checkout.formapagamento == 'debito' %}
                <label>
                  <input type="radio" name="formapagamento" value="debito" checked> <i class="fa fa-credit-card"></i> Débito
                </label>
            {% else %}
                <label>
                  <input type="radio" name="formapagamento" value="debito"> <i class="fa fa-credit-card"></i> Débito
                </label>
            {% endif %}
            {% if checkout.formapagamento == 'dinheiro' %}
                <label>
                  <input type="radio" name="formapagamento" value="dinheiro" checked> <i class="fa fa-money"></i> Dinheiro
                </label>
            {% else %}
                <label>
                  <input type="radio" name="formapagamento" value="dinheiro"> <i class="fa fa-money"></i> Dinheiro
                </label>
            {% endif %}
            {% if checkout.formapagamento == 'cheque' %}
                <label>
                  <input type="radio" name="formapagamento" value="cheque" checked> <i class="glyphicon glyphicon-list-alt"></i> Cheque
                </label>
            {% else %}
                <label>
                  <input type="radio" name="formapagamento" value="cheque"> <i class="glyphicon glyphicon-list-alt"></i> Cheque
                </label>
            {% endif %}

        </div>
        <div class="obs"><br><br><hr><br>
            <label><i class="glyphicon glyphicon-map-marker"></i> Observa&ccedil;&atilde;o </label><br><br>
            {% if observacao_retorno != None %}
                 <textarea type="text" id="id_observacao" placeholder="Observa&ccedil;&atilde;o..." name="observacao">{{observacao_retorno}}</textarea>
            {% else %}
                <textarea type="text" id="id_observacao" placeholder="Observa&ccedil;&atilde;o..." name="observacao"></textarea>
            {% endif %}
        </div>
        <br>
        <button type="submit" name="finalizar" value="Finalizar Venda" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span> Finalizar Venda
        </button>
    </form><br>
    <a href="javascript:history.back();"><span class="seta-voltar" aria-hidden="true">&larr;</span> Voltar</a>
</div>

<script>
function submete_form(){
    form = document.getElementById("form_realizar_venda");
    form.method = "post";
    form.submit()
}
</script>
{% endblock %}