{% extends "includes/layout_principal_operacional.html" %}
{% block tituloPagina %}<i class="fa fa-fw fa-bar-chart-o"></i> Efetuar Venda {% endblock %}

{% block Vendas %}active{% endblock %}

{% block conteudo %}
{% load custom_tags %}

<div class="box-formulario">
    <p><i class="glyphicon glyphicon-info-sign"></i> Preencha corretamente os campos abaixo e clique em Efetuar Venda para efetuar a venda.</p>
    <form class="formulario-padrao venda" id="form_realizar_venda" method="post" >{% csrf_token %}
            {% if error %}
                <br><br>
                <div class="alert alert-danger">
                    <strong><i class="glyphicon glyphicon-info-sign"></i> {{error}}</strong>
                </div>
            {% endif %}

        <ul>
            <!--UNIDADES-->
        <li>

            <label for="id_unidades">Unidades: </label>

                {% if checkout.unidade and itemvenda_list.count > 0 or checkout.status == 'confirmado' %}
                    <select id="id_unidades" name="unidade" onchange="form.submit()" disabled>
                    <!--<select id="id_unidades" name="unidade" onchange="form.submit()">-->
                {% else %}
                    <select id="id_unidades" name="unidade" onchange="form.submit()">
                {% endif %}


                <option value="">Selecione uma unidade</option>
                {% for unidade in unidade_list %}
                {% if unidade_retorno != None and unidade_retorno.id == unidade.id  %}
                <option value="{{unidade.id}}" selected>{{unidade.nome}}</option>
                {% else %}
                <option value="{{unidade.id}}">{{unidade.nome}}</option>
                {% endif %}
                {% endfor %}
                </select>
        </li>
            <!--DATA DA VENDA-->
        <li>

            <label for="id_dtrealizado">Data da venda:</label>
            {% if checkout.status == 'confirmado' %}
               <input class="data" placeholder="Dia da venda..." id="id_dtrealizado" type="text" name="dtrealizado" value="{% if checkout %}{{checkout.dtrealizado|date:'d/m/Y'}}{% endif %}" disabled>
            {% else %}
               {% if dtrealizado_retorno != None %}
                   <input type="text" class="data" id="id_dtrealizado" placeholder="Dia da Venda..." name="dtrealizado" value="{{dtrealizado_retorno|date:'d/m/Y'}}">
               {% else %}
                   <input type="text" class="data" id="id_dtrealizado" placeholder="Dia da Venda..." name="dtrealizado" value="">
               {% endif %}
            {% endif %}
        </li>
        <br><br>
        <li>
            <label for="id_clientes_telefone">Telefone do cliente:</label>
                {% if cliente_retorno != None %}
                    <input type="text"  id="id_clientes_telefone" placeholder="" name="telefone" value="{{cliente_retorno.telefone}}" onchange="form.submit()">
                {% else %}
                    <input type="text"  id="id_clientes_telefone" placeholder="" name="telefone" value="" onchange="form.submit()">
                {% endif %}
        </li>
        <li>
            <label for="id_clientes_nome">Nome do cliente:</label>
                {% if cliente_retorno != None %}
                    {% if cliente_retorno.nome != 'nome em processamento'%}
                        <input type="text" id="id_clientes_nome" placeholder="" name="clientenome" value="{{cliente_retorno.nome}}" onchange="form.submit()">
                    {% else %}
                        <input type="text" id="id_clientes_nome" placeholder="" name="clientenome" value="" onchange="form.submit()">
                    {% endif %}
                {% else %}
                    <input type="text" id="id_clientes_nome" placeholder="" name="clientenome" value="" onchange="form.submit()">
                {% endif %}
        </li>
        <li>
            <label for="id_clientes_aniversario">Anivers&aacute;rio do cliente:</label>
                {% if cliente_retorno != None %}
                    <input type="text" class="data" id="id_clientes_aniversario" placeholder="" name="clienteaniversario" value="{{cliente_retorno.aniversario|date:'d/m/Y'}}" onchange="form.submit()">
                {% else %}
                    <input type="text" class="data" id="id_clientes_aniversario" placeholder="" name="clienteaniversario" value="" onchange="form.submit()">
                {% endif %}
        </li>
        <br><br>
        <li>
            <label for="id_canais">Canais: </label>
            <select id="id_canais" name="canal">
            <!--<select id="id_canais" name="canal" onchange="form.submit()">-->
                <option value="">Selecione um canal</option>
                {% for canal in canal_list %}
                {% if canal_retorno != None and canal_retorno.id == canal.id  %}
                <option value="{{canal.id}}" selected>{{canal.nome}}</option>
                {% else %}
                <option value="{{canal.id}}">{{canal.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <!--{% if error %}-->
                <!--<br><br>-->
                <!--<div class="alert alert-danger">-->
                    <!--<strong><i class="glyphicon glyphicon-info-sign"></i> Erro no canal</strong>-->
                <!--</div>-->
            <!--{% endif %}-->
        </li>
    <li>
        <label for="id_estoque">Produtos: </label>
        <select id="id_estoque" name="estoque">
            <option value="">Selecione um produto</option>
            {% for estoque in estoque_list %}
            {% if estoque_retorno != None and estoque_retorno.id == estoque.id  %}
            <option value="{{estoque.produto.id}}" selected>{{estoque.produto.nome}}</option>
            {% else %}
            <option value="{{estoque.produto.id}}">{{estoque.produto.nome}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </li>
    <li>
            <label for="id_quantidade">Quantidade: </label>
            <input type="number" id="id_quantidade" name="quantidade" class="numero">
        <button type="submit" value="Adicionar" name="adicionar_produto" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <button type="submit" value="Remover" name="remover_produto" class="btn btn-danger">
            <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
    </li>
<br>

         {% if itemvenda_list %}
            <div class="panel panel-default">
              <div class="panel-heading"><label><i class="glyphicon glyphicon-plus"></i> Produtos no checkout</label></div>
              <table class="table ultimo-padding">
                  <thead>
                    <tr>
                        <th>Nome do Produto Inserido</th>
                        <th>Quantidade</th>
                        <th>Preço de unitário</th>
                        <th>Preço de venda</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for itemvenda in itemvenda_list %}
                        <tr>
                            <th>{{itemvenda.produto.nome}}</th>
                                <td>{{itemvenda.quantidade}}</td>
                                <td>{{itemvenda.produto.preco_venda|floatformat:2}}</td>
                                <td>{% Multiplicacao  itemvenda.quantidade itemvenda.produto.preco_venda %}R$ {{calculado|floatformat:2}}</td>
                        </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
            <hr>
            {% else %}
                <div class="alert alert-warning">
                    <strong>Não existem produtos adicionados a esta venda</strong>
                </div><hr>
         {% endif %}



            {% if preco_calculado != None %}
            <label>Total da venda: R$ {{preco_calculado|floatformat:2}}</label>
            {% else %}
            <label>Total da venda: </label>
            {% endif %}

            <!--<li>-->
            <!--<label for="id_formapagamento">Forma de pagamento: </label>-->
            <!--<select id="id_formapagamento" name="formapagamento">-->
                <!--{% for key, value in checkout.FORMAPAGAMENTO %}-->
                    <!--&lt;!&ndash;{% if key != 'venda' %}&ndash;&gt;-->
                    <!--<option value="{{key}}" {%ifequal key checkout.motivo %} selected {%endifequal%}>{{value}}</option>-->
                    <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
                <!--{% endfor %}-->
            <!--</select>-->
            <!--</li>-->
        <li>

            <label>Forma de pagamento: </label> <br>

            {% if checkout.formapagamento == 'credito' %}
              <input type="radio" name="formapagamento" value="credito" checked> Crédito<br>
            {% else %}
              <input type="radio" name="formapagamento" value="credito"> Crédito<br>
            {% endif %}
            {% if checkout.formapagamento == 'debito' %}
              <input type="radio" name="formapagamento" value="debito" checked> Débito<br>
            {% else %}
              <input type="radio" name="formapagamento" value="debito"> Débito<br>
            {% endif %}
            {% if checkout.formapagamento == 'dinheiro' %}
              <input type="radio" name="formapagamento" value="dinheiro" checked> Dinheiro<br>
            {% else %}
              <input type="radio" name="formapagamento" value="dinheiro"> Dinheiro<br>
            {% endif %}
            {% if checkout.formapagamento == 'cheque' %}
              <input type="radio" name="formapagamento" value="cheque" checked> Cheque
            {% else %}
              <input type="radio" name="formapagamento" value="cheque"> Cheque
            {% endif %}


        </li>
        <li>
            <label for="id_observacao">Observacao: </label>
            {% if observacao_retorno != None %}
                 <textarea type="text" id="id_observacao" name="observacao">{{observacao_retorno}}</textarea>
            {% else %}
                <textarea type="text" id="id_observacao" name="observacao"></textarea>
            {% endif %}
        </li>
        <li>
            <button type="submit" name="finalizar" value="Finalizar Venda" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> Finalizar Venda
            </button>
        </li>
        </ul>
    </form>
    <a href="javascript:history.back();"><span class="seta-voltar" aria-hidden="true">&larr;</span> Voltar</a>
</div>

<script>
function submete_form(){
    form = document.getElementById("form_realizar_venda");
    form.method = "post";
    form.submit()
}
</script>
{% endblock %}