{% extends "includes/layout_principal_operacional.html" %}
{% block tituloPagina %}<i class="fa fa-fw fa-bar-chart-o"></i> Efetuar Venda {% endblock %}

{% block Vendas %}active{% endblock %}

{% block conteudo %}
<div class="box-formulario">
    <p><i class="glyphicon glyphicon-info-sign"></i> Preencha corretamente os campos abaixo e clique em Efetuar Venda para efetuar a venda.</p>
    <form class="formulario-padrao venda" id="form_realizar_venda">{% csrf_token %}
        <ul>
        <li>
            <label for="id_dtrealizado">Data da venda:</label>
                {% if dtrealizado_retorno != None %}
                    <input type="text" id="id_dtrealizado" name="dtrealizado" value="{{dtrealizado_retorno}}">
                {% else %}
                    <input type="text" id="id_dtrealizado" name="dtrealizado" value="">
                {% endif %}
            <br><br>
        </li>
        <li>
            <label for="id_marcas">Marcas: </label>
            <select id="id_marcas" name="marca" onchange="form.submit()">
                <option value="">Selecione uma marca</option>
                {% for marca in marca_list %}
                {% if marca_retorno != None and marca_retorno.id == marca.id  %}
                <option value="{{marca.id}}" selected>{{marca.nome}}</option>
                {% else %}
                <option value="{{marca.id}}">{{marca.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </li>
        <li>
            <label for="id_lojas">Lojas: </label>
            <select id="id_lojas" name="loja" onchange="form.submit()">
                <option value="">Selecione uma loja</option>
                {% for loja in loja_list %}
                {% if loja_retorno != None and loja_retorno.id == loja.id  %}
                <option value="{{loja.id}}" selected>{{loja.nome}}</option>
                {% else %}
                <option value="{{loja.id}}">{{loja.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
            {% if error %}
                <div class="alert alert-error">
                    <strong>Quantidade superior a de estoque ({{estoque.quantidade}})</strong>
                </div>
            {% endif %}
        </li>
        <li>
            <label for="id_produtos">Produtos: </label>
            <select id="id_produtos" name="produto">
                <option value="">Selecione uma produto</option>
                {% for produto in produto_list %}
                {% if produto_retorno != None and produto_retorno.id == produto.id  %}
                <option value="{{produto.id}}" selected>{{produto.nome}}</option>
                {% else %}
                <option value="{{produto.id}}">{{produto.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </li>
        <li>
            <label for="id_quantidade">Quantidade: </label>
            <input type="text" id="id_quantidade" name="quantidade">
        </li>
        <li>
            <label for="id_observacao">Observacao: </label>
            <textarea type="text" id="id_observacao" name="observacao"></textarea>
        </li>
        <li>
            <button type="button" onclick="submete_form()" value="Enviar" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Efetuar Venda</button>
        </li>
        </ul>
    </form>
    <a href="javascript:history.back();"><span class="seta-voltar" aria-hidden="true">&larr;</span> Voltar</a>
</div>

<script>
function submete_form(){
    form = document.getElementById("form_realizar_venda");
    form.method = "post";
    form.submit()
}
</script>
{% endblock %}