{% load staticfiles %}
{% include "includes/header.html" %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-link" href="/"><img src="{% static 'alamparina/images/logo.png'%}" width=150 height=50 /> <span> / Controle Marcas</span></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle logo-marca-link" data-toggle="dropdown"><img src="{% static 'alamparina/images/logo-marca.jpg'%}" class="logo-marca" width=50 height=50 /> Marca Tal <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Editar</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Menu Principal -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="{% block Dashboard %}{% endblock %}">
                        <a href="/marca/dashboard/"><i class="fa fa-line-chart"></i> Dashboard</a>
                    </li>
                    <li class="{% block Produtos %}{% endblock %}">
                        <a href="/marca/listaprodutos"><i class="fa fa-dropbox"></i> Produtos</a>
                    </li>
                    <li class="{% block Checkin %}{% endblock %}">
                        <a href="/marca/lista-checkin"><i class="fa fa-calendar"></i> Checkin</a>
                    </li>
                    <li class="{% block Estoque %}{% endblock %}">
                        <a href="/marca/estoque"><i class="fa fa-fw fa-list"></i> Estoque</a>
                    </li>
                    <li class="{% block Vendas %}{% endblock %}">
                        <a href="/marca/acompanhar-venda/"><i class="fa fa-fw fa-bar-chart-o"></i> Acompanhar Vendas</a>
                    </li>
                    <li class="{% block Financeiro %}{% endblock %}">
                        <a href="/marca/financeiro"><i class="fa fa-fw fa-credit-card"></i> Financeiro</a>
                    </li>
                    <li class="{% block Recomendar %}{% endblock %}">
                        <a href="/marca/recomendar-marca/"><i class="fa fa-fw fa-link"></i> Recomendar Marca</a>
                    </li>
                </ul>
            </div>
            <!-- Fim menu principal -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Titulo -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% block tituloPagina %} Alamparina {% endblock %}
                        </h1>
                    </div>
                </div>
        {% block conteudo %}Conteudo pagina{% endblock %}
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
{% include "includes/footer.html" %}