{% load staticfiles %}
{% include "includes/header.html" %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-link" href="/"><img src="{% static 'alamparina/images/logo.png'%}" width=150 height=50 /> <span> / Operacional</span></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle logo-marca-link operacional-conf" data-toggle="dropdown"><span class="glyphicon glyphicon-cog "></span> Ola, Operador fulano de tal</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Editar</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Menu Principal -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                     <li class="{% block Dashboard %}{% endblock %}">
                        <a href="/operacional/dashboard/"><i class="fa fa-line-chart"></i> Principal</a>
                    </li>
                    <li class="{% block Produtos %}{% endblock %}">
                        <a href="/operacional/lista-produtos/"><i class="fa fa-dropbox"></i> Produtos</a>
                    </li>
                    <li class="{% block Checkin %}{% endblock %}">
                        <a href="/operacional/lista-checkin"><i class="fa fa-calendar"></i> Checkin</a>
                    </li>
                    <li class="{% block Checkout %}{% endblock %}">
                        <a href="/operacional/lista-checkout"><i class="fa fa-calendar"></i> Checkout</a>
                    </li><!--
                    <li class="{% block Estoque %}{% endblock %}">
                        <a href="/operacional/estoque"><i class="fa fa-fw fa-list"></i> Estoque</a>
                    </li>-->
                    <li class="{% block Vendas %}{% endblock %}">
                        <a href="/operacional/realizar-venda/"><i class="fa fa-fw fa-bar-chart-o"></i>Vendas</a>
                    </li><!--
                    <li class="{% block Financeiro %}{% endblock %}">
                        <a href="/operacional/financeiro"><i class="fa fa-fw fa-credit-card"></i> Financeiro</a>
                    </li>-->
                </ul>
            </div>
            <!-- Fim menu principal -->
        </nav>
        <div id="page-wrapper" class="{% block classPage %}{% endblock %}">
            <div class="container-fluid">

                <!-- Titulo -->
                <div class="row first">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% block tituloPagina %}<i class="fa fa-dashboard"></i> Alamparina {% endblock %}
                        </h1>
                    </div>
                </div>
        {% block conteudo %}Conteudo pagina{% endblock %}
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
{% include "includes/footer.html" %}