/*Geral*/

body{
	background: #f5f5f5;
	height: 100%;
}

p, label{
    color: #666;
}

.left{
	float: left;
}

.right{
	float: right;
}

.left-side{
	width: 50%;
	background: #ff0;
	height: 100%;
}

.right-side{
	width: 50%;
	height: 100%;
	float:left;
  	padding:0;
  	position:relative;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

.text-verde{
    color: #4CAE4C;
}

/*fim geral*/

/*Produtos*/
.marcas-box{
	margin: 0 auto;
	width: 250px;
	background: #ccc;
}

.box-item{
	cursor:pointer;
	 float:left;
	 height: 33.3333%;
	 overflow:hidden;
	 position:relative;
	 width:50%;
}

.box-item a{
	display: block;
	position:relative;
  	text-align:center;
  	top:50%;
  	transform:translateY(-50%);
}

.box-item .img-bullet{
	display: block;
	width: 50px;
	margin: 0 auto;
}

.box-item .img-bullet span{
	font-size: 32px;
}

.box-item h3, .box-item  p{
	max-width: 200px;
	margin: 0 auto;
	text-align: center;
}

.box-item  p{
	margin-top: 20px;
}

.navbar-brand {
    padding: 5px 15px;
}

.logo-marca{
	border-radius: 25px;
}

.side-nav {
    top: 61px;
}

.dropdown .logo-marca-link{
	padding: 5px 40px 5px 0px;
}

.dropdown .logo-marca-link img{
	margin: 0 10px 0 0;
}

.logo-link{
	width: 325px;
}

.logo-link img{
	float: left;
}

.logo-link span{
	display: block;
    margin: 16px 0 0 20px;
}

#wrapper .row .panel-red, #wrapper .row .panel-red > .panel-heading{
	border-color: #DEE25E;
	background-color: #DEE25E;
}

#wrapper .row .panel-red > a, #wrapper .row .panel-red > a:hover{
	color: #222;
}

.box {
	margin: 0px auto;
	width: 100%;
}

.box-chart {
	width: 100%;
	margin: 0 auto;
}

.box-chart  canvas{
	height: 300px;
}

.text-center{
	text-align: center;
}
    
.cem{
	width: 100%;
}

#wrapper .table th, #wrapper .table td{
    text-align: center;
}

#wrapper .table th:first-child{
    text-align: left;
}

#wrapper .table td{
    text-align: center;
}

#wrapper .table tr td:last-child{
    padding-top: 0;
}

#wrapper .table tr td:last-child a{
    margin-top: 11px;
    float: left;
    text-align: center;
    width: 100%;
}

.box-formulario{
    padding: 30px 0;
    margin:0 auto;
    width: 600px;
}

.box-formulario .formulario-padrao{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 30px 0 20px 0;
    padding: 0 0 40px 0;
}

.box-formulario .formulario-padrao li{
    list-style: none;
    margin-top: 20px;
}

.box-formulario .formulario-padrao li label{
    width: 110px;
    text-align: right;
    margin-right: 10px;
}

input[type="text"], input[type="number"], select, textarea, input[type="password"]{
    border: 1px solid rgb(238, 238, 238);
    color: #666;
    height: 35px;
    background: #fff;
    padding-left: 6px;
}

.box-formulario .formulario-padrao li input[type="text"], .box-formulario .formulario-padrao li input[type="number"]{
    width: 300px;
}

.formulario-padrao button{
    margin: 40px 0 0 40px;
}

.seta-voltar{
    font-size: 32px;
    line-height: 1px;
    margin-top: 9px;
    display: block;
    float: left;
}

.panel .huge {
    font-size: 37px;
}

.font-16px{
    font-size: 16px;
}

/*Tela de login*/

.box-login{
    width: 400px;
    height: 484px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: #FFF;
    padding: 10px 30px 0px;
    box-shadow: 3px 3px 20px 0px #000;
}

.box-login header{
    width: 260px;
    margin: 0 auto;
}

.box-login header img{
    margin: 0 0 0 53px;
    width: 149px;
}

body.login{
    width: 100%;
    height: 100%;
    background: url('../images/login.jpg') no-repeat center center fixed;
    background-size: cover;
}

.text-center{
    text-align: center;
}

.text-bold{
    font-weight: bold;
}

.form-signin{
    padding: 20px 0 0 38px;
}
.form-signin input[type="text"], .form-signin input[type="password"]{
    margin-top: 12px;
    width: 258px;
}

.form-signin i.icon-login{
    margin-left: -25px;
    color: #666;
}

/*Fim tela login*/

/*Checkin / Checkout*/

.hora-checkin{
    margin-right: 30px;
}

.agendamento label{
    padding-right: 10px;
}

.agendamento input{
    background: #c1c1c1;
}

.lista-produtos ul{
    margin: 20px 0 0 30px;
}

.lista-produtos ul li{
    margin: 10px 20px 0px 0px;
}

.lista-produtos ul ul{
    margin: 5px 0 20px 15px;
}

label.h2, label.h3{
    margin:0;
}

label strong{
    text-decoration: underline;
}

.titulo-produto-checkin{
    margin-bottom: 20px;
}

.coluna-1{
    padding: 20px 0px 100px;
    border-right: 1px solid #eee;
}

.coluna-1 .col-md-12{
    margin-bottom: 20px;
}